body {
	background-image: url("/img/background.jpg");

	color: rgba(255,255,255, 1);

	background-position: center;
	background-attatchment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

body .blur {
	background-image: url("/img/background.jpg");

	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
