body {
	background-image: url("/img/background.jpg");

	color: rgba(182,207,210, .87);

	background-size: cover;
	background-repeat: no-repeat;
}

body .blur {
	background-image: url("/img/background.jpg");
	
	background-size: cover;
	background-repeat: no-repeat;
}
