
:root {
	--body-height: 55vh;
	--body-width: 75vw;

	--body-top: 30vh;
	--body-left: calc( (100vw - var(--body-width)) / 2);
}

.body {
	height: var(--body-height);
	width: var(--body-width);

	top: var(--body-top);
	left: var(--body-left);
	position: fixed;

	display: inline-block;

	z-index: 10;
}

.body .title {
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;

	border-color: rgba(182,207,210, .87);
	box-shadow: 3px 3px 10px rgba(0,0,0, .3);
	background-color: rgba(182,207,210, .3);
	border-radius: 5px;

	font-size: 35px;
	font-family: Raleway;
	text-transform: uppercase;
}

.body .title, .body .title > * {
	text-decoration: none;

	color: rgba(182,207,210, .87);
}

.body .content {
	border-radius: 3px;

	margin-left: 10%;
	margin-right: 10%;
	margin-top: 3%;
	margin-bottom: 10%;
}

.body .sub-title {
	text-align: left;

	margin-left: 10%;
	margin-bottom: 3%;
	margin-top: 3%;	
	padding: 5px;

	font-size: 24px;
	font-family: Raleway;
}

.body .description {
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
	padding-bottom: 5px;

	font-size: 20px;
	font-family: Raleway;
}

