:root {
	--header-height: 150px;
	--header-width: calc(100% - 40px);

	--header-top: 20px;
	--header-left: 20px;
}

.header {
	height: var(--header-height);
	width: var(--header-width);

	top: var(--header-top);
	left: var(--header-left);

	display: table;
	align-items: center;

	text-transform: uppercase;
	font-family: Raleway;
	position: fixed;

	z-index: 20;
}

.header .title {
	display: table-cell;
	vertical-align: middle;

	padding: calc(var(--header-left) * 3);

	font-size: 54px;
}

.header .blur {
	background-position-y: calc(0 - var(--header-top));
	background-position-x: calc(0 - var(--header-left));

	height: calc(var(--header-height) + 18%);
	width: calc(var(--header-width) + 2%);
}

.header .link-container {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	align-items: right;

	line-height: 75px;
}

.header button {
	border-width: 0px;
}

.header button:focus {
	outline: none;
}

.header .link {
	background-color: rgba(182,207,210, .2);
	box-shadow: 4px 4px 6px rgba(0,0,0, .5);
	border-radius: 3px;

	color: rgba(182,207,210, .87);

	display: inline-block;
	text-align: center;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: calc(1% / 2);
	margin-bottom: calc(1% / 2);
	width: 21%;
	height: 40%;

	text-transform: uppercase;
	font-size: 1vw;
}

.header .link:hover {
	background-color: rgba(40,87,110, .3);
}
